@media all and (max-width:768px) {

    body,
    html {
        font-size: 8px;
    }

    .header-top {
        padding: 0 20px;
    }

    .fixed-con {
        padding: 0 20px;
    }

    .inner-popular {
        padding: 0 20px;
    }

    .compare {
        padding-top: 40px;
    }

    .monitoring {
        padding-top: 40px;
    }

    .monitoring-title {
        padding-bottom: 20px;
    }

    #width1080 {
        padding-left: 20px;
        padding-right: 20px;
    }

    #full-width {
        padding-top: 40px;
    }

    .header-center {
        display: none;
    }

    .logo {
        width: inherit;
    }

    .login {
        width: inherit;
    }

    .compare-con {
        justify-content: center;
        gap: 20px;
    }

    .compare-con div:nth-child(4) {
        display: none;
    }

    .compare-con div:nth-child(5) {
        display: none;
    }

    .compare-conW a {
        padding: 10px 15px;
    }

    .compare-title {
        padding-bottom: 20px;
    }

    .mo-del {
        display: none;
    }

    .inner-percent {
        height: 50px;
    }

    .percent-text {
        font-size: 2rem;
    }

    .popular {
        padding-top: 20px;
    }

    .popular-title {
        padding-bottom: 20px;
    }

    .inner-header-btm {
        gap: 30px;
    }

    .monitoring-conW {
        grid-template-columns: repeat(2, minmax(200px, auto));
    }

    .monitoring-con img {
        width: 100%;
        object-fit: cover;
        max-width: 250px;
    }

    .popular-conW {
        grid-template-columns: repeat(2, minmax(200px, auto));
    }

    .popular-conW img {
        width: 100%;
        object-fit: cover;
    }

    .popular-con:nth-child(5) {
        display: none;
    }

    .popular-con:nth-child(6) {
        display: none;
    }

    .logo {
        width: 100px;
    }

    .logo svg {
        width: 100%;
        object-fit: cover;
    }

    /*768px*/

    @media all and (max-width:499px) {

        .monitoring-conW {
            display: block;
            padding-bottom: 20px;
        }

        .monitoring-con {
            display: none;
        }

        .monitoring-con:first-child {
            display: flex;
        }

        .mo-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #858C93;
            border-radius: 25px;
            width: 80px;
            height: 25px;
            line-height: 25px;
            color: #858C93;
            transition: background-color .5s ease-in-out;
        }

        .monitoring a {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .monitoring a:hover .mo-btn {
            background-color: #000;
            color: #fff;
        }

        .popular-conW {
            display: block;
            padding-bottom: 20px;
        }

        .popular-con {
            display: none;
            max-width: initial;
        }

        .popular-con:first-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .popular-conW img {
            width: 250px;
        }



    }

































}